@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.slider-container .slick-arrow {
  display: none !important;
}
.slider-container .slick-dots {
  bottom: 30px !important;
}
.slider-container .slick-dots li button::before {
  content: none !important;
}
.slider-container .slick-dots li button {
  background: #fff !important;
  border-radius: 50%;
  width: 8px !important;
  height: 8px !important;
  opacity: 0.5;
}
.slider-container .slick-dots .slick-active button {
  opacity: 1;
}
.slider-container .slick-dots li {
  width: 6px !important;
  height: 0px !important;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
